# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

### General infra ###
# '*' is excluded from the CODEOWNERS validation that runs on PRs
* @dotnet/dotnet-docker-reviewers @dotnet/prodconsvcs

### Dockerfiles ###

# almalinux
src/almalinux/**/source-build/ @dotnet/source-build @dotnet/dotnet-docker-reviewers

# alpine
src/alpine/**/amd64/ @dotnet/source-build @dotnet/dotnet-docker-reviewers

# azurelinux
src/azurelinux/**/android/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/azurelinux/**/build/ @dotnet/aspnet-build @dotnet/dotnet-docker-reviewers
src/azurelinux/**/docker-testrunner/ @dotnet/dotnet-docker-reviewers
src/azurelinux/**/fpm/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/azurelinux/**/opt/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/azurelinux/**/renovate/ @dotnet/dnceng @dotnet/dotnet-docker-reviewers
src/azurelinux/**/source-build-test/ @dotnet/source-build @dotnet/dotnet-docker-reviewers

# cbl-mariner
src/cbl-mariner/**/android/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/cbl-mariner/**/fpm/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/cbl-mariner/**/opt/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/cbl-mariner/2.0/amd64/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers

# centos
src/centos-stream/**/amd64/ @dotnet/source-build @dotnet/dotnet-docker-reviewers

# debian
src/debian/11/amd64/ @dotnet/source-build @dotnet/dotnet-docker-reviewers
src/debian/*/gcc*/amd64/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers

# fedora
src/fedora/**/amd64/ @dotnet/source-build @dotnet/dotnet-docker-reviewers

# ubuntu
src/ubuntu/**/debpkg/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/ubuntu/22.04/mlnet/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/ubuntu/22.04/opt/arm64v8/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/ubuntu/22.04/coredeps/amd64/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/ubuntu/22.04/amd64/ @dotnet/source-build @dotnet/dotnet-docker-reviewers
src/ubuntu/*/Dockerfile @dotnet/source-build @dotnet/dotnet-docker-reviewers

# common paths
# CODEOWNERS selects the last match as the owner so we list these paths last
# Otherwise these paths will be owned by a different team(s) than the ones listed below
src/**/helix/ @dotnet/dnceng @dotnet/dotnet-docker-reviewers
src/**/cross*/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers
src/**/webassembly*/ @dotnet/runtime-infrastructure @dotnet/dotnet-docker-reviewers

